/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1400px) {
    main .gallery_library {
        margin-left: 4.9%;
    }

}




@media only screen and (max-width: 1300px) {

    header .box-mainHeader__tools {
        float: left;
    }
    header .search_form{
        float: left;
    }
    header .price_wrap{
        left: 3vw;
    }

    header .search_form input {
        margin-left: 60px;
    }

}

@media only screen and (max-width: 1199px) {

    main .company-text{
        margin-left: 10px;
        font-size: 13px;

        max-width: 300px;
    }

    main .company-name{
        margin-top: 10px;
        font-size: 3em;
    }
    main .company-textbox-1{
        margin-top: 60px;
        width: 440px;
        line-height: 1.5;
    }

    main .company-textbox-2{
        margin-top: 32px;
        width: 440px;
        line-height: 1.5;
    }

    main .wrap_inset_library:first-child {
        margin-left: 3%;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {

    header .box-mainHeader{
        height: 50px;
        max-height: 50px;
    }

    header .box-logo{
        /*width: 100%;*/
        margin-right: 20px;
    }
    header .box-navigation{

        padding-top: 0;

    }
    header .box-navigation .navigation-button{  //// кнопкапоявляется

    }

    header .box-navigation__items{
        /*display: none;*/              ///////////////
        width: 100%;


        /*margin-left: 34px;*/
        /*padding-top: 50%;*/
        margin-top: 45%;

    }


    header .box-navigation__items .item{

        float: none;
        width: 100%;
        height: 50px;


    }

    
    header .box-navigation__items .item a{
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 2;
        text-align: center;
        padding: 10px 50px;
        border: 2px solid #51b6e5;
    }

    header .price_wrap{
        float: left;
        left: 0;

    }




    main .slick-prev{
        left: 0;
    }

    main.slick-next{
        right: 0;
    }



    main .company-text{
        margin-left: 0;
        margin-top: 50px;
        font-size: 1.3vw;


    }

    main .company-name{
        margin-top: 10px;
        font-size: 3em;
    }
    main .company-textbox-1{
        margin-top: 60px;
        max-width: 400px;
        line-height: 1.5;
    }

    main .company-textbox-2{
        margin-top: 32px;
        max-width: 400px;
        line-height: 1.5;
    }






}



/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {


    header .box-logo{
        /*width: 100%;*/
    }
    header .box-navigation .navigation-button{
        /*top: -50px;*/
        /*left: 150px;*/
    }


    header .box-navigation__items .item{
        /*float: none;*/
        /*text-align: center;*/
        /*height: 40px;*/
        /*width: 100%;*/
        /*padding: 6px 20px;*/

    }
    header .box-navigation__items .item a{
        /*width: 100%;*/
    }

    header .box-mainHeader__tools{
        padding-top: 20px;
    }

    header .price_wrap{

    }

    header .search-button{
        /*top: 14px;*/
        /*left: 150px;*/
    }

    header .price a{
        float: none;
    }
    header .search_form{
        display: none;           ////////////////////

    }
    header .search_form input {
        width: 23vw;
        margin-left: 1vw;

        /*border: 1px solid #f00;*/
    }

}

@media only screen and (max-width: 666px) {
    /*header .box-navigation .navigation-button{*/
        /*top: -62px;*/
        /*left: 106px;*/
        /*z-index:100;*/
    /*}*/
}

@media only screen and (max-width: 650px) {

    main .company-text{
        margin-left: 0;
        margin-top: 20px;
        font-size: 1em;
    }


    main .company-name{
        margin-top: 10px;
        font-size: 2em;
    }
    main .company-textbox-1{
        margin-top: 20px;
        max-width: 300px;
        line-height: 1;
    }

    main .company-textbox-2{
        margin-top: 32px;
        max-width: 300px;
        line-height: 1;
    }
}

@media only screen and (max-width: 582px) {
    header .search_form{
        margin-top: 0;
    }

}


@media only screen and (max-width: 560px) {

    /*header .search_form input {*/

        /*margin-left: 1vw;*/
    /*}*/


    main .company-text{
        font-size: 11px;
    }


    main .company-name{
        margin-top: 5px;
        font-size: 1.5em;
    }
    main .company-textbox-1{
        margin-top: 20px;
        max-width: 250px;
        line-height: 1;
    }

    main .company-textbox-2{
        margin-top: 32px;
        max-width: 250px;
        line-height: 1;
    }




}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {


    header .search_form input {
        width: 60%;
        margin-left: 4vw;
    }

    main .company-text{
        margin-top: 20px;
        font-size: 12px;
    }

    main .wrappenBoardman.firstBoardMan {
        display: none;
    }
    main .wrappenBoardman.secondBoardMan {
        display: block;
        /*height: 70vw;*/
    }

    main .box-aboutCompany{
        height: 145vw;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {



    main .box-aboutCompany{
        height: 200vw;
    }
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}
