/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1400px) {
    main .gallery_library {
        margin-left: 4.9%;
    }

}




@media only screen and (max-width: 1300px) {

    header .box-mainHeader__tools {
        float: left;
    }
    header .search_form{
        float: left;
    }
    header .price_wrap{
        left: 3vw;
    }

    header .search_form input {
        margin-left: 60px;
    }

}

@media only screen and (max-width: 1199px) {


    main .slide-text {
        left: 7%;
        top: 41%;
        font-size: 60px;
    }
    main .slide-text.correctPosition1 {
        top: 28%;
        left: 7%;
    }


    main .company-text{
        margin-left: 10px;
        font-size: 13px;

        max-width: 300px;
    }

    main .company-name{
        margin-top: 10px;
        font-size: 3em;
    }
    main .company-textbox-1{
        margin-top: 60px;
        width: 440px;
        line-height: 1.5;
    }

    main .company-textbox-2{
        margin-top: 32px;
        width: 440px;
        line-height: 1.5;
    }

    main .wrap_inset_library:first-child {
        margin-left: 3%;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {

    header .box-mainHeader{
        height: 50px;
        max-height: 50px;
    }

    header .box-logo{
        /*width: 100%;*/
        margin-right: 20px;
    }
    header .box-navigation{

        padding-top: 0;
    }

    header .box-mainHeader__navigation{
        height: 100%;
        padding-bottom: 30px              /*     NAVIG*/
    }


    header .box-navigation .navigation-button{  //// кнопкапоявляется

    }

    header .box-navigation__items{
        display: none;              ///////////////
        width: 100%;
        margin-top: 45%;

    }


    header .box-navigation__items .item{

        float: none;
        width: 100%;
        height: 50px;


    }

    
    header .box-navigation__items .item a{
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 2;
        text-align: center;
        padding: 10px 50px;
        border: 2px solid #51b6e5;
    }

    header .price_wrap{
        float: left;
        left: 0;

    }


    main .slide-text {
        left: 4%;
        top: 30%;
        font-size: 3.5em;
    }
    main .slide-text.correctPosition1 {
        top: 20%;
        left: 6%;
    }


    main .slide-button {
        left: 10%;
        bottom: 16.2%;
    }
    main .slide-button.correctPosition2 {
        bottom: 22%;
        left:11%;
    }


    main .slick-prev{
        left: 0;
    }

    main.slick-next{
        right: 0;
    }



    main .company-text{
        margin-left: 0;
        margin-top: 50px;
        font-size: 1.3vw;


    }

    main .company-name{
        margin-top: 10px;
        font-size: 3em;
    }
    main .company-textbox-1{
        margin-top: 60px;
        max-width: 400px;
        line-height: 1.5;
    }

    main .company-textbox-2{
        margin-top: 32px;
        max-width: 400px;
        line-height: 1.5;
    }






}



/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {


    header .box-navigation .navigation-button{
        /*top: -50px;*/
        /*left: 150px;*/
    }


    header .box-navigation__items .item{
        /*float: none;*/
        /*text-align: center;*/
        /*height: 40px;*/
        /*width: 100%;*/
        /*padding: 6px 20px;*/

    }
    header .box-navigation__items .item a{

    }

    header .box-mainHeader__tools{
        padding-top: 20px;
    }

    header .price_wrap{

    }

    header .search-button{

    }

    header .price a{
        float: none;
    }
    header .search_form{
        display: none;           ////////////////////

    }
    header .search_form input {
        width: 23vw;
        margin-left: 1vw;

        /*border: 1px solid #f00;*/
    }

    main .slide-text {
        left: 1.5%;
        top: 30%;
        font-size: 3.5em;
    }
    main .slide-text.correctPosition1 {
        top: 20%;
        left: 5.3%;
    }




}

@media only screen and (max-width: 666px) {
    /*header .box-navigation .navigation-button{*/
        /*top: -62px;*/
        /*left: 106px;*/
        /*z-index:100;*/
    /*}*/
}

@media only screen and (max-width: 650px) {

    main .company-text{
        margin-left: 0;
        margin-top: 20px;
        font-size: 1em;
    }


    main .company-name{
        margin-top: 10px;
        font-size: 2em;
    }
    main .company-textbox-1{
        margin-top: 20px;
        max-width: 300px;
        line-height: 1;
    }

    main .company-textbox-2{
        margin-top: 32px;
        max-width: 300px;
        line-height: 1;
    }
}

@media only screen and (max-width: 582px) {
    header .search_form{
        margin-top: 0;
    }


    main .slide-text {
        left: 3%;
        top: 55%;
        font-size: 4.5em;
    }
    main .slide-text.correctPosition1 {
        top: 55%;
        left: 6%;
    }

    main .slide-button {
        left: 10%;
        bottom: 16.2%;
        font-size: 2em;
    }
    main .slide-button.correctPosition2 {
        bottom: 3%;
        left:7%;
    }



}


@media only screen and (max-width: 560px) {

    /*header .search_form input {*/

        /*margin-left: 1vw;*/
    /*}*/


    main .company-text{
        margin-left: 15px;
        font-size: 12px;
    }


    main .company-name{
        margin-top: 5px;
        font-size: 1.5em;
    }
    main .company-textbox-1{
        margin-top: 20px;
        max-width: 250px;
        line-height: 1;
    }

    main .company-textbox-2{
        margin-top: 32px;
        max-width: 250px;
        line-height: 1;
    }




}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {


    header .search_form input {
        width: 60%;
        margin-left: 4vw;
    }

    main .company-text{
        margin-top: 20px;
        margin-left: 10px;
        font-size: 1.3em;
    }

    main .wrappenBoardman.firstBoardMan {
        display: none;
    }
    main .wrappenBoardman.secondBoardMan {
        display: block;
        /*height: 70vw;*/
    }




    main .box-aboutCompany{
        height: 700px;
    }

    main .box-gallery{
        margin-top: 50px;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {



    main .box-aboutCompany{
        height: 125vw;
    }

    main .box-gallery{
        margin-top: 380px;
    }
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}
